{% extends 'base.html' %}

{% block title %}
My Tasks
{% endblock title %}

{% block content %}
<main>
    <div>
        <h1>My Tasks</h1>

        {% if user.tasks.all %}
            <table>
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Start date</th>
                    <th>Due date</th>
                    <th>Is completed</th>
                </tr>
                </thead>
                <tbody>
                {% for item in user.tasks.all %}
                    <tr>
                    <td>{{ item.name }}</td>
                    <td>{{ item.start_date }}</td>
                    <td>{{ item.due_date }}</td>
                    <td>{{ item.is_compleated|yesno }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% else %}
        <p>You have no tasks</p>
        {% endif %}
    </div>
</main>
{% endblock content %}
